@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
body {
    background-color: rgb(197, 194, 194);
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 1%;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }
    #page-wrapper {
        padding: 5px 10px;
    }
}


/* Top Navigation */

.navbar button {
    background-color: #e7121c;
    color: #ffffff;
}

nav {
    padding-bottom: 15px;
    background-color: #ffffff;
    color: #E7121C;
}

.nav:hover,
.nav:focus {
    outline: none;
    color: #E7121C;
    background-color: #fdfcfc !important;
}

#donorTable th,
#donorTable td{
	text-align:center;
}


/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 65px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        border-top: 1px rgba(255, 255, 255, 0.3) solid;
        overflow-y: auto;
        background-color: #fdfdfd;
        font-size: 16px;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }
    .side-nav>li>a {
        width: 225px;
        border-bottom: 1px rgba(218, 11, 11, 0.11) solid;
    }
    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        color: #E7121C;
        background-color: #F0F0F0 !important;
    }
}

.navbar-brand {
    padding: 5px 15px;
}

@media(min-width:480px) {
    #page-wrapper {
        margin-top: 70px;
    }
}