<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="db2" connectionString="Server=.; Database=BloodBank2; Integrated Security=true;"/>
    <add name="db1" connectionString="Server=.; Database=bloodbank1; Integrated Security=true;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <add key="setTimeInMinutes" value="1"/>
    <add key="Path" value="D:\"/>
    <add key="failure" value="D:\Assignment\ExceptionReport.txt"/>
    <add key="success" value="D:\Assignment\SuccessReport.txt"/>
  
  </appSettings>
</configuration>